.top{

    width: 100%;
    margin-top: 10px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.3261904590937937) 0%, rgba(190,182,182,0.27857141147474616) 49%, rgba(235,235,241,0.11610642548034842) 100%); 
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Josef Sans' , sans-serif;
    z-index: 999;
}

.topLeft,.topRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topCenter{
    flex: 6;
}

.topIcon{
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
}

.topImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;

}

.topSearchIcon{

    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 15px;
}
